'atom-text-editor, atom-workspace':
  'shift-cmd-right': 'sorted-tab-history:top'
  'shift-cmd-right ^cmd': 'sorted-tab-history:select'
  'cmd-right': 'sorted-tab-history:forward'
  'cmd-right ^cmd': 'sorted-tab-history:select'
  'cmd-left': 'sorted-tab-history:back'
  'cmd-left ^cmd': 'sorted-tab-history:select'
