"atom-workspace":
  "alt-{": "tab-history-mrx:top"
  "alt-{ ^alt": "tab-history-mrx:select"
  "alt-[": "tab-history-mrx:forward"
  "alt-[ ^alt": "tab-history-mrx:select"
  "alt-]": "tab-history-mrx:back"
  "alt-] ^alt": "tab-history-mrx:select"
