"atom-workspace":
  "alt-{": "sorted-tab-history:top"
  "alt-{ ^alt": "sorted-tab-history:select"
  "alt-[": "sorted-tab-history:forward"
  "alt-[ ^alt": "sorted-tab-history:select"
  "alt-]": "sorted-tab-history:back"
  "alt-] ^alt": "sorted-tab-history:select"
