@import "ui-variables";

atom-panel.modal.tab-history-mrx-facade-panel {
  height: 100%;
  width: 100%;
  left: 0;
  padding: 0;
  border: 0;
  margin: 0;

  background-color: transparent;
  box-shadow: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  &::before {
    background-color: transparent;
  }
}

.tab-history-mrx-facade {
  text-align: center;
  list-style: none;
  padding: 0;
}

.tab-history-mrx-facade li {
  background: radial-gradient(fade(@pane-item-background-color, 90%) 35%, fade(@pane-item-background-color, 0%) 70%);
  text-shadow: 0px 0px 5px @pane-item-background-color;
  white-space: nowrap;
  transition: transform ease-out 0.2s, margin ease-out 0.2s, color 0.1s;

  &.active {
    transform: scale(1.5, 1.5);
    color: @text-color;
    margin: 8px 0px;

    &.hiding {
      transition: opacity ease-in 0.4s, transform ease-in 0.4s;
      opacity: 0;
      transform: scale(1.57, 1.57);
    }
  }

  &.hiding {
    transition: opacity ease-in 0.1s;
    opacity: 0;
  }

  .icon-file-text {
    font-size: 20pt;
    color: mix(@text-color, @pane-item-background-color, 80%);
  }

  .icon-file-text::before {
    transform: scale(2.4, 2.4) translateY(-1px);
    margin-right: 12px;
  }

  .stamp-detail {
    display: block;
    transform:
    color: white;
  }
}
